@model CityTransport.Models.ParentModels.ParentViewInvoiceModel

<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="~/frontEnd/images/tram.png" />
    <title>City Transport-View Offer</title>
    <!--CSS files-->
    <link rel="stylesheet" href="~/../frontEnd/css/parent-main.css">
    <link rel="stylesheet" href="~/../frontEnd/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--Background Image-->
    <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('../../frontEnd/images/white_background.jpg') center center no-repeat; background-size: cover;"></div>
    <!-- Navigation -->
    <!--Container-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <!--Logo-->
            <a class="navbar-brand" asp-controller="Parents" asp-action="ParentUserHomePage">
                <div style="padding-left: 20px;"><img src="~/frontEnd/images/tram_green.png" alt="Logo" width="70" height="67"></div><div style="padding-top: 10px;">City Transport</div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Parents" asp-action="ParentUserHomePage">
                            My Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Parents" asp-action="ParentSpecialOffers">Special Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Parents" asp-action="ParentMyInvoices">My Invoices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Parents" asp-action="ParentMyCard">My Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Parents" asp-action="ParentChildrenCard">Children Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-user-info">
        <!--User Container-->
        <div class="user-info">
            <br>

            <h1>Invoice @Model.Id</h1><br>

                                      <div id="viewContent">
                                          @if (Model.TransportKind == "One Kind")
                                          {
                                              <form>
                                                  <hr class="invoice-line">
                                                  <p class="label-name">Owner Name: @Model.FirstName @Model.LastName</p><br>

                                                  <p class="label-name">Transport Kind: @Model.TransportKind</p><br>
                                                  <p class="label-name">Transport Type: @Model.TransportType</p><br>
                                                  <p class="label-name">Transport Number: @Model.TransportNumber</p><br>
                                                  <p class="label-name">Start Date: @Model.StartDate.ToShortDateString() /  End Date: @Model.EndDate.ToShortDateString()</p><br>
                                                  <p class="label-name">Standart Price: @Model.StandartPrice BGN</p><br>

                                                  <div class="drop-down">


                                                      <p class="label-name">Special Offer: @Model.SpecialOffers.OfferName</p><br>
                                                      <p class="label-name">Price: @Model.SpecialOffers.OfferPrice BGN</p><br /><br />
                                                      <!--This button is for better UX-->
                                                     
                                                  </div>
                                              </form> }
                                          else
                                          {
                                              <form>
                                                  <hr class="invoice-line">
                                                  <p class="label-name">Owner Name: @Model.FirstName @Model.LastName</p><br>

                                                  <p class="label-name">Transport Kind: @Model.TransportKind</p><br>

                                                  <p class="label-name">Start Date: @Model.StartDate.ToShortDateString() /  End Date: @Model.EndDate.ToShortDateString()</p><br>
                                                  @if (Model.StandartPrice != 0)
                                                  {
                                                      <p class="label-name">Total Price: @Model.StandartPrice BGN</p><br><br>
                                                  }
                                                  else
                                                  {
                                                      <p class="label-name">Total Price: Free</p><br><br>
                                                  }

                                              </form>
                                          }



                                      </div>
        </div>
    </div>

    <!--JavaScript files-->

    <script type="text/javascript" src="~/frontEnd/javaScript/jquery.slim.js"></script>
    <script type="text/javascript" src="~/frontEnd/javaScript/bootstrap.bundle.min.js"></script>
</body>





</html>