@model CityTransport.Models.UserModels.PaymentMethodPageModel
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="~/frontEnd/images/tram.png" />
    <title>City Transport-Payment-Method</title>
    <!--CSS files-->
    <link rel="stylesheet" href="~/frontEnd/css/main.css">
    <link rel="stylesheet" href="~/frontEnd/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/frontEnd/css/toggle-button.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--Background Image-->
    <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('../../frontEnd/images/white_background.jpg') center center no-repeat; background-size: cover;"></div>
    <!-- Navigation -->
    <!--Container-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <!--Logo-->
            <a class="navbar-brand" href="UserHomePage">
                <div style="padding-left: 20px;"><img src="~/frontEnd/images/tram_user.png" alt="Logo" width="70" height="67"></div><div style="padding-top: 10px;">City Transport</div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="UserHomePage">
                            My Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="SpecialOffers">Special Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="MyInvoices">My Invoices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="MyCard">My Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-user-info">
        <!--User Container-->
        <div class="user-info">
            <br>
            <h1>Paymet Method</h1><br>
                                  <form  method="post">
                                      
                                      <div class="role-info">

                                          @if (Model.SpecialOfferId != null)
                                          {

                                              <p class="offer-name">Your price is:</p><p>@Model.TotalOfferPrice BGN</p>

                                          }
                                          else
                                          {
                                              <p class="offer-name">Your price is:</p><p>@Model.TotalPrice BGN</p>

                                          }




                                          <hr class="invoice-line">
                                      </div>
                                      <div class="payment-card">
                                          <br>
                                          <img src="~/frontEnd/images/master-card.png" alt="Master-Card" width="90" height="67"><img src="~/frontEnd/images/visa.png" alt="Master-Card" width="140" height="60">
                                          <br><br>
                                          <p class="label-name">First Name:</p><input class="input" asp-for="@Model.FirstName"  type="text" placeholder="@Model.FirstName" /><br>
                                          <br>
                                          <p class="label-name">Last Name:</p><input class="input" asp-for="@Model.LastName"  type="text" placeholder="@Model.LastName" /><br>
                                         <br>
                                          <p class="label-name">Card Number:</p><input class="input" type="text"  placeholder="0000 0000 0000 0000" /><br>
                                          <span  class="text-danger"></span><br>
                                          <p class="label-name">Expiration Date:</p><input class="input"  type="text" placeholder="20/03/21" /><br>
                                          <br>
                                          <p class="label-name">CV Code:</p><input class="input"  type="text" placeholder="000" /><br>
                                          <br>
                                          <br>
                                      </div>
                                      </br></br>
                                      <div class="drop-down">
                                          
                                             
                                              <button class="button" type="submit">Pay</button><br></br>
                                          
                                          </div>
                                  </form>
            <!--Successful and Failure Alerts-->
            <div class="alert alert-success alert-dismissible">
                <a href="UserHomePage.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> Your payment was successful!
            </div>
            <!--fade in is for invisible-->
            <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Failure!</strong> Your payment was not successsful, Try again!
            </div>
        </div>
    </div>

    <!--JavaScript files-->

    <script type="text/javascript" src="~/frontEnd/javaScript/jquery.slim.js"></script>
    <script type="text/javascript" src="~/frontEnd/javaScript/bootstrap.bundle.min.js"></script>
</body>





</html>